@import "tailwindcss";

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: white;
  background: #000000ff;
}

@font-face {
  font-family: "VT323-Regular";
  src: url("/VT323-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
